DRY_RUN=false
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=homepoll
POSTGRES_PASSWORD=homepoll
POSTGRES_DB=homepoll
ETA_HOST=192.168.1.142
ETA_PORT=8080
POWER_HOST=https://api.salzburgnetz.at
POWER_TOKEN=
POWER_GPNR=
POWER_ZP=
GRAFANA_PASSWORD=admin
